# Configuración de la base de datos
# Para desarrollo local (SQLite)
DATABASE_URL=sqlite:///./iot_simulator.db

# Para producción (PostgreSQL en Render)
# DATABASE_URL=postgresql://iot_simulator_user:njsoSS2LgNFawnH69x84SSiRUwxKGPp3@dpg-d1c6tip5pdvs73ei8b30-a/iot_simulator

# Variables separadas (alternativa)
DB_USER=iot_simulator_user
DB_PASSWORD=njsoSS2LgNFawnH69x84SSiRUwxKGPp3
DB_HOST=dpg-d1c6tip5pdvs73ei8b30-a
DB_PORT=5432
DB_NAME=iot_simulator

# Configuración de la aplicación
DEBUG=True
LOG_LEVEL=INFO 